*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 65.6%; }
  @media only screen and (max-width: 65.6em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.3em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #362d29;
  font-weight: 400; }

.container {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: [full-start] 1fr [number-start] min-content [number-end center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: repeat(3, min-content); }

.slide-number {
  grid-column: number-start / number-end;
  grid-row: 1 / 2;
  font-weight: 100;
  font-size: 7rem;
  color: #cccccc; }

.heading-1 {
  grid-column: center-start / center-end;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  color: #e77444; }
  .heading-1 span {
    color: #e5975d; }
  @media only screen and (max-width: 53em) {
    .heading-1 {
      font-size: 2.5rem; } }

.question-box {
  grid-column: center-start / center-end;
  margin: 5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem; }
  .question-box__item--question {
    display: flex;
    align-items: center; }
    .question-box__item--question .heading-2 {
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.2rem;
      margin-left: 1rem; }
    .question-box__item--question p {
      font-size: 10rem;
      font-weight: 100;
      color: #e77444; }
  .question-box__item--answer {
    box-shadow: 0 1rem 2rem rgba(54, 45, 41, 0.2); }
    .question-box__item--answer, .question-box__item--answer:visited, .question-box__item--answer:hover, .question-box__item--answer:active, .question-box__item--answer:focus {
      background-color: #f3f5f8;
      padding: 3rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      color: #362d29;
      border: none;
      cursor: pointer;
      transition: all .2s;
      outline: none;
      outline-offset: none; }
  .question-box__item--hint {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 3rem;
    position: relative;
    background: url(../img/left-quote.png) 0 0 no-repeat, url(../img/right-quote.png) 100% 100% no-repeat; }
    @media only screen and (max-width: 53em) {
      .question-box__item--hint {
        grid-row: 1 / 2;
        grid-column: 2 / 3; } }
  @media only screen and (max-width: 53em) {
    .question-box {
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
      margin: 2rem 2rem; } }
  @media only screen and (max-width: 31.3em) {
    .question-box {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }

.btn {
  grid-column: center-start / center-end;
  justify-content: end; }
  .btn, .btn:link, .btn:visited {
    align-self: start;
    justify-self: end;
    background-color: white;
    color: #362d29;
    border: 1px solid #e77444;
    border-radius: 10rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.5rem 5rem;
    cursor: pointer;
    transition: all .2s; }
  .btn:active {
    background-color: #e5975d;
    color: white; }
  @media only screen and (max-width: 31.3em) {
    .btn {
      grid-row: 9 / 10;
      grid-column: 1 / -1; } }
