// COLOR VARIABLES
$color-orange: #e5975d;
$color-red: #e77444;

$color-grey: #cccccc;
$color-grey-light: #f3f5f8;
$color-grey-dark: #dce1e9;

$color-black: #362d29;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Arimo', sans-serif;

//RESPONSIVE BREAK POINTS
$bp-large: 65.6em; //1050px  / 16px = 62.5em
$bp-medium: 53em; // 850px
$bp-small: 37.5em;//600px
$bp-micro: 31.3em;//500px

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 65.6%; // 1rem = 10px

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-micro) {
		font-size: 40%;
	}
}

body {
	font-family: $font-primary;
	color: $color-black;
	font-weight: 400;
}


.container {
	//width: 80vw;
	margin: 10rem 0;
	display: grid;
	grid-template-columns: [full-start] 1fr [number-start] min-content [number-end center-start] 
	repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];
	grid-template-rows: repeat(3, min-content);
}












